<footer class="bg-dark text-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Fuji Fruit</h5>
                <p>Trái cây tươi ngon, chất lượng cao</p>
            </div>
            <div class="col-md-6">
                <h6>Liên hệ</h6>
                <p>
                    Email: info@fujifruit.com<br>
                    Hotline: 1900-xxxx
                </p>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <small>&copy; 2025 Fuji Fruit. All rights reserved.</small>
        </div>
    </div>
</footer>